*{
    user-select: none;
    padding: 0;
    margin: 0;
}

#logo{
    height: 50vh;
    max-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

#head{
    display: flex;
    align-items: center;
    justify-content: center;

}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#avant{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#avant-img{
    height: 15vh;

}

#avant-img:hover{
    cursor: pointer;
}

#arriere-img{
    height: 15vh;
}

#arriere-img:hover{
    cursor: pointer;
}

#arriere{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.flex-img{
    display: flex;
    position: relative;
    top: -30px;
}

:root {
    --light-bg: #EDEDED;
    --dark-bg: #1A1A1A;
    --light: #F2F2F2;
    --dark: #1A1A1A;
    
    --on-light-shadow: inset 0 0 10px 0 rgb(255,255,255,1), 15px -20px 35px 0 rgb(102,210,51,0.56), inset 15px -20px 35px 0 rgb(0,0,0,0.25), -15px 15px 28px 0 rgb(0,0,0,0.25);
    --on-light: radial-gradient(circle at 60% 30%, #ACFF85, #66D233);
    --off-light-shadow: inset 0 0 33px 0 rgb(255,255,255,1), 15px -20px 35px 0 rgb(197,197,197,0.56), inset 15px -20px 35px 0 rgb(0,0,0,0.25), -15px 15px 28px 0 rgb(0,0,0,0.25);
    --off-light: radial-gradient(circle at 60% 30%, #D1D1D1, #DDDDDD);
    --off-red-light-shadow: inset 0 0 18px 0 rgb(255,255,255,1), 15px -20px 35px 0 rgb(255,175,175,0.56), inset 15px -20px 35px 0 rgb(0,0,0,0.25), -15px 28px 28px 0 rgb(0,0,0,0.25);
    --off-red-light: radial-gradient(circle at 60% 30%, #FF7676, #ED5C5C);
    
    
    
    --on-dark-shadow: inset 0 0 19px 0 rgb(0,0,0,1), 15px -20px 38px 0 rgb(102,210,51,0.24), inset 15px -20px 35px 0 rgb(0,0,0,0.25), -15px 15px 28px 0 rgb(0,0,0,0.72);
    --on-dark: radial-gradient(circle at 60% 30%, #91D372, #35651E);
    --off-dark-shadow: inset 0 0 37px 0 rgb(0,0,0,1), 15px -20px 38px 0 rgb(0,0,0,0.14), inset 15px -20px 35px 0 rgb(0,0,0,0.25), -15px 15px 28px 0 rgb(0,0,0,0.25);
    --off-dark: radial-gradient(circle at 60% 30%, #343434, #484848);
    --off-red-dark-shadow: inset 0 0 17px 0 rgb(0,0,0,1), 15px -20px 38px 0 rgb(146,59,59,0.14), inset 15px -20px 35px 0 rgb(0,0,0,0.25), -15px 15px 28px 0 rgb(0,0,0,0.25);
    --off-red-dark: radial-gradient(circle at 60% 30%, #A63D3D, #6F2929);
  }
  
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Recoleta";
    box-sizing: border-box;
    transition: all ease 0.3s;
    background-color: rgb(187, 229, 177);
    color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .light-side::before {
    position: absolute;
    light: 0;
    top: 0;
    content: '';
    width: 50%;
    height: 100%;
    z-index: 2;
    opacity: 50%;
    background: #000000;
    filter: url(#noiseFilter);
    pointer-events: none;
  }
  svg {
    position: absolute;
    z-index: 2;
  }
  
  .light-side {
    background-color: var(--light-bg);
    height: 100vh;
    width: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  
  /* Toggle buttons */
  .toggle {
    transform: scale(0.5);
    height: 150px;
    width: 300px;
    border-radius: 150px;
  }
  
  .light {
    background-color: var(--light);
    box-shadow: inset 0 -5px 5px 0 rgb(0,0,0,0.13), inset 0 5px 5px 0 rgb(255,255,255,1), inset 23px -33px 28px 0 rgb(255,255,255,0.9), inset -25px 28px 23px 0 rgb(0,0,0,0.1), 0 -15px 18px 0 rgb(255,255,255,1), 0 25px 41px 0 rgb(0,0,0,0.16);
  }
  
  .dark {
    background-color: var(--dark);
    box-shadow: inset 0 -5px 5px 0 rgb(0,0,0,0.5), inset 0 5px 5px 0 rgb(255,255,255,0.13), inset 23px -33px 28px 0 rgb(255,255,255,0.03), inset -25px 28px 23px 0 rgb(0,0,0,0.4), 0 -15px 30px 0 rgb(255,255,255,0.08), 0 25px 41px 0 rgb(0,0,0,0.4);
  }
  
  .toggle {
    display: flex;
    flex-direction:column;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
  
  
  /* Switches */
  
  .switch-back {
    height: 112px;
    width: 112px;
    border-radius: 100px;
    position: absolute;
    transition: all ease 0.3s;
    right: 20px;
    animation: bounce-right 0.7s ease-out;
  }
  

  .switch-front {
    height: 112px;
    width: 112px;
    border-radius: 100px;
    position: absolute;
    transition: all ease 0.3s;
    right: 20px;
    animation: bounce-right 0.7s ease-out;
  }
  .switch-light {
    background: var(--on-light);
    box-shadow: var(--on-light-shadow);
  }
  
  .switch-dark {
    background: var(--on-dark);
    box-shadow: var(--on-dark-shadow);
  }
  
  .switch-back.off-red-light,.switch-front.off-red-light {
    transform: translateX(-150px);
    transition: all ease 0.3s;
    background: var(--off-red-light);
    box-shadow: var(--off-red-light-shadow);
    
    animation: bounce-left 0.7s ease-out;
  }
  
  .switch-back.off-light ,   .switch-front.off-light {
    transform: translateX(-150px);
    transition: all ease 0.3s;
    background: var(--off-light);
    box-shadow: var(--off-light-shadow);
    
    animation: bounce-left 0.7s ease-out;
  }
  
  .switch-back.off-red-dark,   .switch-front.off-red-dark {
    transform: translateX(-150px);
    transition: all ease 0.3s;
    background: var(--off-red-dark);
    box-shadow: var(--off-red-dark-shadow);
    
    animation: bounce-left 0.7s ease-out;
  }
  
  .switch-back.off-dark,.switch-back.off-dark {
    transform: translateX(-150px);
    transition: all ease 0.3s;
    background: var(--off-dark);
    box-shadow: var(--off-dark-shadow);
    
    animation: bounce-left 0.7s ease-out;
  }
  
  /* animations */
  
  @keyframes bounce-left {
    0% {transform: translateX(0px);}
    15% {transform: translateX(-180px);}
    30% {transform: translateX(-150px);}
    45% {transform: translateX(-160px);}
    60% {transform: translateX(-150px);}
    75% {transform: translateX(-152px);}
    100% {transform: translateX(-150px);}
  }
  
  @keyframes bounce-right {
    0% {transform: translateX(-150px);}
    15% {transform: translateX(30px);}
    30% {transform: translateX(0);}
    45% {transform: translateX(10px);}
    60% {transform: translateX(0);}
    75% {transform: translateX(2px);}
    100% {transform: translateX(0);}
  }
  
  
  
  
  /* screen */
  
  @media only screen and (max-width: 600px) {
    body {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .light-side {
      width: 100%;
      gap: 3em;
    }
    
    .light-side::before {
      width: 100%;
      height: 50%;
    }
    
    .dark-side {
      width: 100%;
      gap: 3em;
    }
    
    .dark-side::before {
      width: 100%;
      height: 50%;
      top:50%;
    }
   
  }
  
  @media only screen and (max-width: 750px) {
    .light-side {
      gap: 2em;
    }
    
    .dark-side {
      gap: 2em;
    }
    
  }
  
  
  
  /* Not required */
  .youtube {
    text-decoration: none;
    position: absolute;
    padding: 1em 2em;
    bottom: 1em;
    right: 1em;
    z-index: 9999;
    font-family: 'Roboto';
    color: #E1E1E1;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
  }
  
  .youtube:hover {
    background-color: rgb(225,225,225,0.14);
  }

  @keyframes speed {
    0% {
      transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -3px) rotate(-1deg);
    }
    20% {
      transform: translate(-2px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 3px) rotate(-1deg);
    }
    60% {
      transform: translate(-1px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-2px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(2px, 1px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  @keyframes strikes {
    from {
      opacity: 1;
      left: var(--left);
    }
    to {
      left: calc( var(--left) - 100px);
      opacity: 0;
    }
  }
  @keyframes dots {
    from {
      width: 0px;
    }
    to {
      width: 15px;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes rotate360 {
    from {
      transform: rotate(0deg);
    } 
    to {
      transform: rotate(360deg);
    }
  }
  
  .fadeIn, .loading-window {
    animation: fadeIn 0.4s both;
  }
  
  .loading-window {
    --background-color: white;
    --car-color: black;
  
    color: var( --car-color );
    position: absolute;
    z-index: 99;
    top: 50vh;
    left: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .car {
    transform: scale(2);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -75px;
    top: -30px;
  }
  .car .strike {
    --left: -5px;
    left: var(--left);
    position: absolute;
    width: 11px;
    height: 1px;
    background: var( --car-color );
    animation: strikes 0.2s linear infinite;
  }
  .car .strike:nth-of-type(6n+1)  {
    top: 3%;
  }
  .car .strike:nth-of-type(6n+2)  {
    top: 22%;
    animation-delay: -0.05s;
  }
  .car .strike:nth-of-type(6n+3) {
    top: 41%;
    animation-delay: -0.1s;
  }
  .car .strike:nth-of-type(6n+4) {
    top: 60%;
    animation-delay: -0.15s;
  }
  .car .strike:nth-of-type(6n+5) {
    top: 79%;
    animation-delay: -0.2s;
  }
  .car .strike:nth-of-type(6n) {
    top: 98%;
    animation-delay: -0.25s;
  }
  
  .car-detail {
    position: absolute;
    display: block;
    background: var( --car-color );
  }
  .car .speed {
    width: 117px;
    height: 60px;
    animation: speed 1s linear infinite;
  }
  .car-detail.rear-bumper {
    width: 10px;
    height: 13px;
    left: -2px;
    bottom: 1px;
    border-radius: 3px;
  }
  
  .car-detail.window {
    width: 15%;
    background: transparent;
    border: 4px solid var(--car-color);
    height: 30%;
    border-radius: 5px;
    top: 5px;
  }
  .car-detail.window:nth-of-type(5n) {
    left: 64%;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .car-detail.window:nth-of-type(5n+1) {
    left: 46%;
  
  }
  .car-detail.window:nth-of-type(5n+2) {
    left: 28%;
  
  }
  .car-detail.window:nth-of-type(5n+3) {
    left: 10%;
  
  }
  .car-detail.window:nth-of-type(5n+4) {
    left: 0%;
    width: 7%;
    border-top-left-radius: 15px 15px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  
  .car-detail.front-bumper {
    width: 10px;
    height: 11px;
    right: -2px;
    bottom: 1px;
    border-radius: 3px;
  }
  .car-detail.front-light {
    width: 10px;
    height: 8px;
    right: -2px;
    bottom: 17px;
    border-radius: 50%;
  }
  
  .car-detail.center {
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: 5px;
    border-top-left-radius: 20px 15px;
    border-top-right-radius: 25px 40px;
    border: 4px solid var( --car-color );
    background: none;
    box-sizing: border-box;
  }
  .car-detail.center2 {
    height: 55%;
    width: 100%;
    left: 0px;
    bottom: 0;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px 20px;
  }
  .car-detail.top {
    height: 12%;
    width: 84%;
    top: 2px;
    left: 6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .car-detail.wheel {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 45px;
    border: 1px solid var( --background-color );
    background: linear-gradient(45deg, transparent 45%, var( --car-color ) 46%, var( --car-color ) 54%, transparent 55%), linear-gradient(-45deg, transparent 45%, var( --car-color ) 46%, var( --car-color ) 54%, transparent 55%), linear-gradient(90deg, transparent 45%, var( --car-color ) 46%, var( --car-color ) 54%, transparent 55%), linear-gradient(0deg, transparent 45%, var( --car-color ) 46%, var( --car-color ) 54%, transparent 55%), radial-gradient(var( --car-color ) 29%, transparent 30%, transparent 50%, var( --car-color ) 51%), var( --background-color );
    animation: rotate360 infinite linear .7s;
  }
  .car-detail.wheel:nth-of-type(2n+1) {
    left: 7px;
  }
  .car-detail.wheel:nth-of-type(2n) {
    left: 87px;
  }
  .car-detail.door {
    border: 1px solid white;
    border-radius: 5px;
    height: 84%;
    width: 18%;
    top: 5px;
    left: 55px;
    background: none;
  }
  .car-detail.door::after {
    position: absolute;
    content: '';
    width: 5px;
    height: 1px;
    background: white;
    top: 28px;
    left: 13px;
    border-radius: 5px;
  }
  
  
  #app{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;

  }

  .loading-window{
    display: none;
  }

#temp-hygro-div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 15rem;
}


  #temperature-div, #humidity-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
    
  #temperature-value, #humidity-value{
    font-size: 2rem;

  }

  #temperature-icon, #humidity-icon{
    width: 110px;
  }